.projectList{
    width: 80%;
    margin: auto;
    padding-top: 20px;

    h2 {
        color: white;
        text-align: center;
        text-transform: uppercase;
    }

    .flexWrap{
        display: flex;
        flex-wrap: wrap;
    }
}