@import '../../styles/_colors.scss';

.projectPage {
  width: 90%;
  margin: auto;
  padding-top: 20px;
  min-height: 400px;
  max-width: 1100px;
  color: $text;
  text-align: center;

  .slider-list {
    text-align: center;
  }
  .projectDescription {
    text-align: left;
    font-size: 14px;
  }

}