@media (min-width: 941px) {
  .projectPreview {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 340px; }
    .projectPreview .container {
      position: absolute;
      width: 44%;
      max-width: 510px; }
  @keyframes fadeOut {
    from {
      opacity: 0; }
    to {
      opacity: 1; } }
  @keyframes fadeIn {
    from {
      opacity: 0.7; }
    to {
      opacity: 0; } }
      .projectPreview .container .infoBlock {
        color: #29838c;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        background-image: url("/images/project_preview_background.png");
        width: 100%;
        height: 99%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .projectPreview .container .infoBlock.focused {
          display: flex;
          animation-name: fadeOut;
          animation-duration: 1s;
          animation-fill-mode: forwards; }
        .projectPreview .container .infoBlock.unfocused {
          animation-name: fadeIn;
          animation-duration: 1s;
          animation-fill-mode: forwards; }
        .projectPreview .container .infoBlock .projectTitle {
          text-transform: uppercase;
          font-size: 21px;
          font-family: Arial, Helvetica, sans-serif; }
      .projectPreview .container img {
        width: 100%; }
    .projectPreview.odd {
      margin-top: 50px; } }

@media (max-width: 940px) {
  .projectPreview {
    width: 100%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .projectPreview .container {
      position: absolute;
      width: 90%;
      max-width: 510px;
      max-height: 340px;
      margin-left: auto;
      margin-right: auto; }
      .projectPreview .container .infoBlock {
        color: #5dafb7;
        position: absolute;
        bottom: 0;
        right: 0;
        background: white;
        margin-right: 10px;
        margin-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 5px; }
      .projectPreview .container img {
        width: 100%; } }
