.projectPreview {
    @media (min-width: 941px) {
        width:50%;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 600px;
        
        &.odd {
            justify-content: flex-end;
        }

        .container  {
            position: absolute;
            width: 44%;
            max-width: 510px;
            .infoBlock {
                position: absolute;
                bottom: 0;
                right:0;
                background: white;
                border: 1px solid black;
                margin-right: 10px;
                margin-bottom: 15px;
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 5px;
            }
            img {
                width: 100%;
                
            }
        }
    }

    @media (max-width: 940px) {
        width: 100%;
        height: 350px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .container  {
            position: absolute;
            width: 90%;
            max-width:510px;
            max-height: 340px;
            margin-left: auto;
            margin-right: auto;
            .infoBlock {
                position: absolute;
                bottom: 0;
                right:0;
                background: white;
                border: 1px solid black;
                margin-right: 10px;
                margin-bottom: 15px;
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 5px;
            }
            img {
                width: 100%;
                
            }
        }
    }
    
}