@import '../../styles/_colors.scss';

.projectPreview {
    @media (min-width: $desktop-step) {
        width:50%;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 600px;

        .container  {
            position: absolute;
            width: 44%;
            max-width: 510px;
            .infoBlock {
                color: $gradient-blue-dark;
                position: absolute;
                bottom: -100px;
                right: 20px;
                background: white;
                // border: 1px solid black;
                margin-right: 10px;
                margin-bottom: 15px;
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 5px;
            }
            img {
                width: 100%;
            }
        }

        &.odd {
            justify-content: flex-end;
            .infoBlock {
                left: 20px;
                right: auto;
            }
        }
    }

    @media (max-width: $tablet-step) {
        width: 100%;
        height: 350px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .container  {
            position: absolute;
            width: 90%;
            max-width:510px;
            max-height: 340px;
            margin-left: auto;
            margin-right: auto;
            .infoBlock {
                color: $gradient-blue-dark;
                position: absolute;
                bottom: 0;
                right:0;
                background: white;
                margin-right: 10px;
                margin-bottom: 15px;
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 5px;
            }
            img {
                width: 100%;
                
            }
        }
    }
    
}