//TODO trucs mobiles là

$mobile-min: 1px;
$mobile-max: 1px;

$tablet-min: 768px;
$tablet-max: 1280px;


$tablet-step: 940px;
$desktop-step: 941px;

$gradient-blue: #e5fffc;
$gradient-blue-dark: #5dafb7;
$text: #29838c;