@import '../styles/_colors.scss';

.footer {
    &.hidden {
        display: none;
    }
    background-color: $gradient-blue-dark;
    text-align: center;
    color: $text;
    padding: 15px;
    font-size: 12px;

    p {
        margin: 5px;
    }
}