@import '../styles/_colors.scss';

.footer {
    &.hidden {
        display: none;
    }
    background-color: $gradient-blue-dark;
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding: 15px;

    p {
        margin: 5px;
    }
}