.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background: white;
  display: flex;
  justify-content: space-between;
  height: 54px; }
  .header.hidden {
    top: 100%; }

@keyframes slideUpOnOpen {
  0% {
    top: 100%; }
  100% {
    top: 0px; } }
  .header.shown {
    animation-name: slideUpOnOpen;
    animation-duration: 1s;
    top: 0%; }
  .header .logo img {
    padding: 6px; }
  .header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif; }
    .header .menu .menuItem {
      color: #29838c;
      text-transform: uppercase;
      margin: 25px; }
      .header .menu .menuItem.selected {
        color: #29838c; }
        .header .menu .menuItem.selected:after {
          border-bottom: 1px solid #29838c;
          content: '';
          display: block;
          width: 15px; }

@keyframes hoverMenuItem {
  0% {
    width: 15px; }
  50% {
    width: 30px; }
  100% {
    width: 15px; } }
      .header .menu .menuItem:hover:after {
        border-bottom: 1px solid #29838c;
        content: '';
        display: block;
        width: 15px;
        animation-name: hoverMenuItem;
        animation-duration: 1s; }
    .header .menu .social {
      padding-left: 11px;
      padding-right: 11px; }
    .header .menu .social:last-of-type {
      margin-right: 28px; }
