.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background: white;
  display: flex;
  justify-content: space-between;
  height: 54px; }
  .header.hidden {
    top: 100%; }

@keyframes slideUpOnOpen {
  0% {
    top: 100%; }
  100% {
    top: 0px; } }
  .header.shown {
    animation-name: slideUpOnOpen;
    animation-duration: 1s;
    top: 0%; }
  .header .logo img {
    padding: 6px; }
  .header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif; }
    .header .menu .menuItem {
      color: #e5fffc;
      text-transform: uppercase;
      margin: 25px; }

@keyframes selectedMenuItem {
  from {
    color: #e5fffc; }
  to {
    color: #5dafb7; } }
      .header .menu .menuItem.selected {
        color: #5dafb7;
        animation-name: selectedMenuItem;
        animation-duration: 2s; }

@keyframes unselectedMenuItem {
  from {
    color: #5dafb7; }
  to {
    color: #e5fffc; } }
      .header .menu .menuItem.previouslySelected {
        animation-name: unselectedMenuItem;
        animation-duration: 2s; }
    .header .menu .social {
      padding-left: 11px;
      padding-right: 11px; }
    .header .menu .social:last-of-type {
      margin-right: 28px; }
