.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background: white;
  display: flex;
  justify-content: space-between;
  height: 80px; }
  .header.hidden {
    top: 100%; }

@keyframes slideUpOnOpen {
  0% {
    top: 100%; }
  100% {
    top: 0px; } }
  .header.shown {
    animation-name: slideUpOnOpen;
    animation-duration: 1s;
    top: 0%; }
  .header .logo img {
    height: 40px;
    padding: 20px; }
  .header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header .menu .menuItem {
      color: #6EE9EE;
      text-transform: uppercase;
      margin: 20px; }

@keyframes selectedMenuItem {
  from {
    color: #6EE9EE; }
  to {
    color: #76B4FF; } }
      .header .menu .menuItem.selected {
        color: #76B4FF;
        animation-name: selectedMenuItem;
        animation-duration: 2s; }

@keyframes unselectedMenuItem {
  from {
    color: #76B4FF; }
  to {
    color: #6EE9EE; } }
      .header .menu .menuItem.previouslySelected {
        animation-name: unselectedMenuItem;
        animation-duration: 2s; }
