@import '../styles/_colors.scss';

.header {
  position: fixed;
  top:0;
  width: 100%;
  z-index: 10;
  background: white;
  display: flex;
  justify-content: space-between;

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menuItem {
      color: $gradient-blue;
      text-transform: uppercase;
      margin: 20px;

      &.selected {
        text-decoration: underline;
      }
    }
  }
}