@import '../styles/_colors.scss';

.header {
  &.hidden {
    top: 100%;
  }
  @keyframes slideUpOnOpen {
    0% {top: 100%}
    100% {top: 0px}
  }
  &.shown {
    animation-name: slideUpOnOpen;
    animation-duration: 1s;
    top:0%;
  }
  position: fixed;
  top:0;
  width: 100%;
  z-index: 10;
  background: white;
  display: flex;
  justify-content: space-between;
  height: 54px;

  .logo {
    img {
      // height: 40px;
      padding: 6px;
    }
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
  ;


    .menuItem {
      color: $gradient-blue;
      text-transform: uppercase;
      margin: 25px;

      @keyframes selectedMenuItem {
        from {color: $gradient-blue}
        to {color: $gradient-blue-dark}
      }
      &.selected {
        color: $gradient-blue-dark;
        animation-name: selectedMenuItem;
        animation-duration: 2s;
      }

      @keyframes unselectedMenuItem {
        from {color: $gradient-blue-dark}
        to {color: $gradient-blue}
      }
      &.previouslySelected {
        animation-name: unselectedMenuItem;
        animation-duration: 2s;
      }
    }

    .social {
      padding-left: 11px;
      padding-right: 11px;
    }
    .social:last-of-type {
      margin-right: 28px;
    }
  }
}