.app #introSlide {
  position: absolute;
  width: 100%;
  height: 100%; }
  .app #introSlide #introSlideLogo {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%; }
    .app #introSlide #introSlideLogo img {
      max-width: 50%; }
  .app #introSlide #introSlideArrow {
    position: absolute;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    bottom: 10px; }
    .app #introSlide #introSlideArrow img {
      max-width: 25%; }

.App {
  text-align: center; }

.App-logo {
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.parallax-wrapper {
  margin-top: 80px;
  background-image: url("/images/parallax.png");
  background-repeat: repeat; }

.gradient-wrapper {
  background-image: linear-gradient(#6EE9EE, #76B4FF); }
