@import './styles/_colors.scss';

// intro
.app {
  a {
    text-decoration: none;
    color:inherit;
  }
  #introSlide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;

    #introSlideLogo {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      img {
        max-width: 50%;
        @media (min-width: 500px) {
          max-width: 250px;
        }
      }
    }

    @keyframes bounce{
      from {padding-bottom: 0px;}
      to   {padding-bottom: 10px;}
    }

    #introSlideArrow {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      bottom: 10%;
      padding-top: 10px;
      padding-bottom: 1Opx;

      img {
        max-width: 25%;
        &.animated-arrow {
          animation: bounce 0.35s ease 2 alternate;
        }
      }


    }

    @keyframes slideUpOnClose {
      0% {height: 100%}
      100% {height:0px}
    }
    @keyframes slideUpOnCloseImage {
      0% {margin-top: 0}
      100% {margin-top: -50%}
    }
    &.hidden {
      animation-name: slideUpOnClose;
      animation-duration: 1s;
      height: 0px;
      overflow: hidden;
      #introSlideLogo {
        img {
          animation: slideUpOnCloseImage;
          animation-duration: 1s;
        }
      }
    }
  }

  .container {
    width: 100%;
    &.hidden {
      margin-top: 50%;
    }

    @keyframes slideUpOnOpen {
      0% {margin-top: 50%;}
      100% {margin-top: 0px;}
    }
    &.shown {
      animation-name: slideUpOnOpen;
      animation-duration: 1s;
      margin-top: 0px;
    }
  }
}

// Bootstrap
.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

// Parallax
.parallax-wrapper {
  margin-top: 54px;
  background-image: url('/images/parallax.png');
  background-repeat: repeat;
}

.gradient-wrapper {
  background-image:  linear-gradient($gradient-blue, $gradient-blue-dark);
  display: flex;
  flex-direction: column;
}



